* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  margin-left: 40%;
  background-color: #404040;
  padding: 6px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
  height: 175px;
  width: 500px;

}

ul li:hover {
  background-color: #505050;
}



.image {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #d0d0d0;

  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
  height: 100%;
  width: 40%;
  left: 0px;
}

.info{
  border: 1px solid #ddd;
  margin-top: -33%; /* Prevent double borders */
  background-color: #ffffff;
  padding: 6px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
  height: 99%;
  width: 58%;
  left: 42%;

}

img{
	height: 100%;
	width: 100%;
}


.rName{
	font-size: 25px;
	font-family: "Lucida Console", Monaco, monospace;
}

.rInfo{
	font-size: 15px;
}

#filters{
	position: absolute;
	float: left;
}
